:root {
    font-size: calc( 3vw);
    --color1: #2A2B2E;
    --color2: #222b30;
    --color3: #87FF65;
    --color4: #e4ff1a;
    --color5: #A4C2A8;
  }

/* Section 1 - Menu */

.menu{
    display: none;
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
    /* display: grid; */
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.header{
    color: var(--color4);
    grid-area: 1/1/2/4;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 70px;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}

.middle{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 10px;
}

.middle div{
  display: flex;
  flex-basis: calc(50% - 5px);
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Righteous', cursive;
  font-size: 0.9rem;
  background-color: var(--color1);
}

.middle>div{
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
}

.middle h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 0.5rem;
    color: var(--color5);
    font-family: 'ADLaM Display', cursive;
    margin-top: 15px;
}

.middle .sign .x, .middle .enemy .robot{
    height: 80%;
    background-color: var(--color3);
    color: var(--color1);
    /* text-shadow: 0 0 10px var(--color4); */
}

.middle .sign .o, .middle .enemy .human{
    height: 80%;
   color: var(--color3);
}


.main .buttom{
    grid-area: 3/1/4/4;
    margin: 30px auto 10px auto ;
    text-align: center;
}

.buttom button{
    width: 15vw;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'ADLaM Display', cursive;
    font-size: 0.4rem;
    background-color: var(--color4);
    text-transform: uppercase;
}

/* Section 2 - Game*/

.game{
    /* display: none; */
    background-color: var(--color1);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0 15vw;
}

.game .header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 5vw;
}

.game .header>div{
   width: 15vw; 
}


.game .header .logo{
    padding: 10px 0;
    font-size: 0.6rem;
    color: var(--color5);
}

.game .header .turn{
    text-align: center;
    font-size: 0.6rem;
    padding: 10px 0;
}


.game .header .return img{
    background-color: var(--color5);
    align-content: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.game .board{
    grid-area: 2/2/3/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: auto 0;
    width: 25vw;
    height: 25vw;
}

.game .board >div{
    width: calc(30% - 10px);
    height: calc(30% - 10px);
    background-color: var(--color2);
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    border: solid 1px var(--color5);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-text-stroke-color: var(--color3);
    -webkit-text-stroke-width: 2px;
    color: var(--color1);
    font-size: 2rem;
    font-family: 'Righteous', cursive;
}


.game .buttom{
    grid-area: 3/1/4/4;
    display: flex;
    justify-content: center;
    gap: 5vw;
    font-family: 'Righteous', cursive;
}

.game .buttom .main__summary{
    font-size: 0.6rem;
    margin-top: 40px;
    width: 10vw;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}
.game .buttom .main__summary p{
    font-size: 0.3rem;
}

.game .main__summary.first{
    background-color: var(--color4);
    margin: auto 0;
}

.game .main__summary.second{
    background-color: var(--color5);
    margin: auto 0;
    }


.game .main__summary.third{
    background-color: var(--color3);
    margin: auto 0;
    }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}